*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
   
}




nav{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px;

}


.toggleSection{

  display: flex;
  align-items: center;
  gap: 10px;


}



.displayCards{
  padding: 11px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;



}


/* #grid{

  display: grid;
  grid-template-columns: 256px 256px 256px 256px;
  grid-template-rows: 450px 450px;
  grid-gap:1.5em;
} */







/* @media only screen and (max-width: 900px){

  .displayCards{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
   
  
  }
   */
  
  

      