*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
   
}




nav{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

}


.toggleSection{

  display: flex;
  align-items: center;
  gap: 20px;


}