*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
   
}




nav{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px;

}


.toggleSection{

  display: flex;
  align-items: center;
  gap: 10px;


}



.displayCards{
  display: flex;
  flex-direction: row;
  gap: 30px;
}








@media only screen and (max-width: 900px){

  .displayCards{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
   
  
  }
  
  
  

      